[submodule "pack/github-dense-analysis/start/ale"]
	path = pack/github-dense-analysis/start/ale
	url = http://github.com/dense-analysis/ale.git
[submodule "pack/github-NLKNguyen/opt"]
	path = pack/github-NLKNguyen/opt
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule "pack/github-vim-airline/start/vim-airline"]
	path = pack/github-vim-airline/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/github-vim-airline/start/vim-airline-themes"]
	path = pack/github-vim-airline/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
